---
---

@import "{{ site.theme }}";

body {
  background: url("{{ '/assets/images/bg.png' | relative_url }}") no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  background: rgba(255, 255, 255, 0.88);
  padding: 24px;
  border-radius: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
